.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
  }
.name{
  font-family: Poppins;
  font-size: 15px;

}
.brand{
  font-family: Inter;
  font-weight: 800;
}
.price{
  font-family: Roboto mono;
  font-size: 30px;
}
.img{
  width: 300px;
  height: auto;
  
}
.carousel-container{
  width: 300px;
  height: 300px;
  margin-left: 20px;
}
.card-out{
  border-width: 5px;
  border-style: solid;
  border-color: rgb(249, 235, 235);
  width: 350px;
  height: 500px;
  margin-bottom: 20px;
  text-align: center;
  margin-left: 20px;
  margin-top: 10px;
  background-color:rgb(245, 242, 242);
}
.card-div{
  margin-top: 125px; text-align: center;
}
.card-name{
  padding: 10px;
}
.card-container {
  display: flex; /* Display cards horizontally */
  flex-wrap: wrap; /* Wrap cards to the next line if needed */
}
.card-color{
  font-size: 16px;
  font-family: Noto Sans;
  font-weight: 500;
}
.hyper {
  text-decoration: none; /* Remove underline */
  color: black; /* Set font color to black */
}


