<div class="navbar-fixed">
    <app-header></app-header>
</div>

<div class="carousel-container">
    <igx-carousel #carousel>
        <igx-slide *ngFor="let slide of slides;">
            <div class="image-container">
                <img [src]="slide.src">
            </div>
        </igx-slide>
    </igx-carousel>
</div>
<div>
    <img src="../../../assets/Images/delivary.jpg">
</div>
<div class="carousel-container">
    <igx-carousel #carousel>
        <igx-slide *ngFor="let slide of slides1;">
            <div class="image-container">
                <img [src]="slide.src">
            </div>
        </igx-slide>
    </igx-carousel>
</div>
<div>
    <h2 class="h4">CATEGORIES</h2>
</div>
    <div class="card-card">
        <img class="card-image" src="../../../assets/Images/trouser.webp">
        <img class="card-image" src="../../../assets/Images/tshirt1.webp">
        <img class="card-image" src="../../../assets/Images/jeans1.webp">
        <img class="card-image" src="../../../assets/Images/shirts1.webp">
    </div>

<app-footer></app-footer>
 <!-- <img src="../../../assets/Images/solly1.jpg">   -->